# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# Secrets / local config overrides
Config/runtime-config.json
.env

# Local Zebra SDK artifacts
Link-OS_SDK/
zebra-linkos-mpsdk-ios-v1.6.1158.zip
Vendor/ZSDK_API.xcframework

# Logs
*.log
